.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: white;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
}

.header-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.header-open-modal {
  background: none;
  border: none;
  color: red;
}