@use "./base/reset" as *;
@use "./elements/button" as *;
@use "./elements/input" as *;
@use "./widgets/login-form" as *;
@use "./modules/header" as *;
@use "./modules/todo-sectoin" as *;
@use "./templates/layout" as *;
@use "./modules/login-modal" as *;

body {
  background: white;
  color: black;
  font-family: Arial, sans-serif;
}