.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bg-primary);

  &__container {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__main {
    flex: 1;
    overflow-y: auto;
  }
}